<!-- NAVBAR START-->

<!-- batas -->
<nav
  class="fixed top-0 w-screen h-20 bg-gray-900 border-gray-200 shadow-xl m dark:bg-gray-900 rounded-b-xl"
>
  <div
    class="flex flex-wrap items-center justify-between h-full max-w-screen-xl p-4 mx-auto"
  >
    <!-- LOGO START -->
    <a href="{{url_for('home')}}" class="flex items-center">
      <img
        src="{{url_for('static', filename='image/logo.png')}}"
        class="h-8 mr-3"
        alt="Compactify Logo"
      />
      <span
        class="self-center text-2xl font-semibold text-white whitespace-nowrap dark:text-white"
        >Compactify</span
      >
    </a>
    <!-- LOGO END -->
    <!-- Responsive nav -->

    <div x-data="{ hamburger: false }" class="block sm:hidden">
      <button
        class="relative w-10 h-10 text-gray-500 focus:outline-none"
        @click="hamburger = !hamburger"
      >
        <div
          class="absolute block w-5 transform -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2"
        >
          <span
            aria-hidden="true"
            class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out"
            :class="{'rotate-45': hamburger,' -translate-y-1.5': !hamburger }"
          ></span>
          <span
            aria-hidden="true"
            class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out"
            :class="{'opacity-0': hamburger } "
          ></span>
          <span
            aria-hidden="true"
            class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out"
            :class="{'-rotate-45': hamburger, ' translate-y-1.5': !hamburger}"
          ></span>
        </div>
      </button>
      <div
        x-transition.origin.top.left
        x-show="hamburger"
        x-on:click.outside="hamburger = false"
        class="fixed flex justify-end right-[0%] w-auto rounded-sm h-auto"
        :class="hamburger ? 'block' : 'hidden'"
      >
        <div
          class="flex flex-row w-auto h-auto p-2 bg-opacity-75 rounded-lg bg-slate-200"
        >
          <ul class="flex flex-col w-full h-auto">
            <li
              class="flex items-center justify-center w-full h-10 text-black hover:text-sky-300"
            >
              <a href="{{url_for('home')}}" class="w-full h-full">Home</a>
            </li>
            <li
              class="flex items-center justify-center w-full text-black hover:text-sky-300"
            >
              <a href="{{url_for('compressImg')}}" class="w-full h-full"
                >Compress Image</a
              >
            </li>
            <li
              class="flex items-center justify-center w-full h-10 text-black hover:text-sky-300"
            >
              <a href="{{url_for('compressPdf')}}" class="w-full h-full"
                >Compress PDF</a
              >
            </li>
            <li
              class="flex items-center justify-center w-full h-10 text-black hover:text-sky-300"
            >
              <a href="{{url_for('zip')}}" class="w-full h-full"
                >Compress to Zip</a
              >
            </li>
            <li
              class="flex items-center justify-center w-full h-10 text-black hover:text-sky-300"
            >
              <a href="{{url_for('wordToPDF')}}" class="w-full h-full"
                >Word To Pdf</a
              >
            </li>
            <li
              class="flex items-center justify-center w-full h-10 text-black hover:text-sky-300"
            >
              <a href="{{url_for('imageToPdf')}}" class="w-full h-full"
                >Image To Pdf</a
              >
            </li>
            <li
              class="flex items-center justify-center w-full h-10 text-black hover:text-sky-300"
            >
              <a href="{{url_for('removebg')}}" class="w-full h-full"
                >Remove Background</a
              >
            </li>
            <li
              class="flex items-center justify-center w-full h-10 text-black hover:text-sky-300"
            >
              <a href="{{url_for('imgtogray')}}" class="w-full h-full"
                >Rgb To Grayscale</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- navbar -->
    <div class="hidden sm:block">
      <div class="max-w-screen-xl px-4 mx-auto">
        <div class="flex items-center">
          <ul class="flex flex-row mt-0 mr-6 space-x-8 text-sm font-medium h">
            <!-- Button Home -->
            <li>
              <a
                href="{{url_for('home')}}"
                class="text-white hover:text-sky-300 dark:text-white"
                aria-current="page"
                >Home</a
              >
            </li>
            <!-- Button To Compress Page -->
            <li
              x-data="{
                open: false,
                toggle() {
                    if (this.open) {
                        return this.close()
                    }
     
                    this.$refs.button.focus()
     
                    this.open = true
                },
                close(focusAfter) {
                    if (! this.open) return
     
                    this.open = false
     
                    focusAfter && focusAfter.focus()
                }
            }"
              x-on:keydown.escape.prevent.stop="close($refs.button)"
              x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
              x-id="['dropdown-button']"
            >
              <button
                x-ref="button"
                x-on:click="toggle()"
                :aria-expanded="open"
                :aria-controls="$id('dropdown-button')"
                type="button"
                class="text-white hover:text-sky-300 dark:text-white"
              >
                Compress
              </button>

              <div
                x-ref="panel"
                x-show="open"
                x-transition.origin.top.left
                x-on:click.outside="close($refs.button)"
                :id="$id('dropdown-button')"
                style="display: none;"
                class="absolute left-0 w-screen p-4 bg-white rounded-md shadow-md top-20"
              >
                <div class="flex items-center justify-center h-full mx-auto">
                  <a
                    href="{{url_for('compressImg')}}"
                    class="flex justify-center items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left text-sm hover:bg-gray-50 disabled:text-gray-500"
                  >
                    Compress Image
                  </a>
                  <a
                    href="{{url_for('compressPdf')}}"
                    class="flex justify-center items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left text-sm hover:bg-gray-50 disabled:text-gray-500"
                  >
                    Compress PDF
                  </a>
                  <a
                    href="{{url_for('zip')}}"
                    class="flex justify-center items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left text-sm hover:bg-gray-50 disabled:text-gray-500"
                  >
                    Compress to Zip
                  </a>
                </div>
              </div>
            </li>
            <!-- Button to Convert Page -->
            <li
              x-data="{
                open: false,
                toggle() {
                    if (this.open) {
                        return this.close()
                    }
     
                    this.$refs.button.focus()
     
                    this.open = true
                },
                close(focusAfter) {
                    if (! this.open) return
     
                    this.open = false
     
                    focusAfter && focusAfter.focus()
                }
            }"
              x-on:keydown.escape.prevent.stop="close($refs.button)"
              x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
              x-id="['dropdown-button']"
            >
              <button
                x-ref="button"
                x-on:click="toggle()"
                :aria-expanded="open"
                :aria-controls="$id('dropdown-button')"
                type="button"
                class="text-white hover:text-sky-300 dark:text-white"
              >
                Convert
              </button>

              <div
                x-ref="panel"
                x-show="open"
                x-transition.origin.top.left
                x-on:click.outside="close($refs.button)"
                :id="$id('dropdown-button')"
                style="display: none;"
                class="absolute left-0 w-screen p-4 bg-white rounded-md shadow-md top-20"
              >
                <div class="flex items-center justify-center h-full mx-auto">
                  <a
                    href="{{url_for('wordToPDF')}}"
                    class="flex justify-center items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left text-sm hover:bg-gray-50 disabled:text-gray-500"
                  >
                    Word To Pdf
                  </a>

                  <a
                    href="{{url_for('imageToPdf')}}"
                    class="flex justify-center items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left text-sm hover:bg-gray-50 disabled:text-gray-500"
                  >
                    Image To Pdf
                  </a>
                </div>
              </div>
            </li>
            <!-- Button to Edit Image -->
            <li
              x-data="{
                open: false,
                toggle() {
                    if (this.open) {
                        return this.close()
                    }
     
                    this.$refs.button.focus()
     
                    this.open = true
                },
                close(focusAfter) {
                    if (! this.open) return
     
                    this.open = false
     
                    focusAfter && focusAfter.focus()
                }
            }"
              x-on:keydown.escape.prevent.stop="close($refs.button)"
              x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
              x-id="['dropdown-button']"
            >
              <button
                x-ref="button"
                x-on:click="toggle()"
                :aria-expanded="open"
                :aria-controls="$id('dropdown-button')"
                type="button"
                class="text-white hover:text-sky-300 dark:text-white"
              >
                Edit Image
              </button>

              <div
                x-ref="panel"
                x-show="open"
                x-transition.origin.top.left
                x-on:click.outside="close($refs.button)"
                :id="$id('dropdown-button')"
                style="display: none;"
                class="absolute left-0 w-screen p-4 bg-white rounded-md shadow-md top-20"
              >
                <div class="flex items-center justify-center h-full mx-auto">
                  <a
                    href="{{url_for('removebg')}}"
                    class="flex justify-center items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left text-sm hover:bg-gray-50 disabled:text-gray-500"
                  >
                    Remove Background
                  </a>
                  <a
                    href="{{url_for('imgtogray')}}"
                    class="flex justify-center items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left text-sm hover:bg-gray-50 disabled:text-gray-500"
                  >
                    Rgb To Grayscale
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
