{% extends "./master/layout.html" %} {% block title %}Index{% endblock %} {%
block head %} {{ super() }} {% endblock %} {% block content %}
<!-- NAVBAR END -->
<div
  class="flex items-center justify-center w-screen"
  style="height: calc(100vh - 80px);"
>
  <!-- Content Section Start -->
  <main
    class="box-border flex items-center justify-center w-full h-full"
    style="height: calc(100% - 80px);"
  >
    <section
      class="box-border flex flex-col items-center justify-center h-auto shadow-2xl w-96 min-h-96 rounded-2xl"
    >
      <form
        action="{{url_for('compressImg')}}"
        method="POST"
        enctype="multipart/form-data"
      >
        {{ form.csrf_token }}
        <div class="flex justify-center mb-10">
          <p>Pilih File yang akan di kompress</p>
        </div>
        <div class="flex justify-center mb-10">
          <img
            src="{{url_for('static', filename='image/logo.png')}}"
            class="h-20 opacity-50"
            alt="Compactify Logo"
          />
        </div>
        <div class="items-center mb-10">
          <label
            class="block mb-2 text-sm font-medium text-gray-900"
            for="file_input"
            >Upload file</label
          >

          {{ form.file( class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer max-w-64 bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" ) }} {% with messages
          = get_flashed_messages() %} {% if messages %}
          <ul class="flex justify-center w-full messages">
            {% for message in messages %}

            <li class="text-sm text-red-800 rounded-lg bg-red-50" role="alert">
              <span class="font-medium">alert!</span> {{ message }}
            </li>
            {% endfor %}
          </ul>
          {% endif %} {% endwith %}
          <p class="mt-1 text-sm text-gray-500" id="file_input_help">
            SVG, PNG, JPG, JPEG(max 10Mb).
          </p>
        </div>

        <button
          type="submit"
          name="submit"
          class="text-white bg-blue-800 hover:bg-blue-900 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        >
          Kompres
        </button>
      </form>
    </section>
  </main>
</div>

{% endblock %}
