{% extends "./master/layout.html" %} {% block title %}Index{% endblock %} {%
block head %} {{ super() }} {% endblock %} {% block content %}

<!-- NAVBAR END -->
{% include "./master/partials/nav.html" %}

<!-- CONTENT START -->
<main>
  <!-- batas -->
  <h1 class="mb-8 text-3xl font-bold text-center">
    Transformasikan Data Anda dengan Mudah dan Aman
  </h1>
  <figure class="mb-20">
    <img
      src="{{url_for('static', filename='image/gambar 1.png')}}"
      alt="Gambar 1"
      class="flex items-center max-w-screen-md mx-auto"
    />
  </figure>
  <section class="mb-20 about">
    <h2 class="mb-4 text-xl font-bold text-center">Tentang</h2>
    <section class="flex">
      <p class="block w-1/2 px-10 my-auto font-semibold text-justify text-md">
        Compactify adalah sebuah aplikasi berbasis web yang menghadirkan
        sejumlah layanan yang sangat berguna dalam mengelola berbagai jenis file
        dan gambar. Dengan Compactify, Anda dapat dengan mudah mengkonversi
        berbagai jenis file, menjadikan gambar lebih ringan dengan kompresi
        gambar yang canggih, serta melakukan berbagai jenis penyuntingan gambar
        untuk memastikan hasil yang sesuai dengan kebutuhan Anda. Dengan
        fitur-fitur yang canggih dan mudah digunakan, Compactify merupakan alat
        yang sangat efektif untuk membantu Anda dalam berbagai tugas yang
        berhubungan dengan file dan gambar dalam lingkup web.
      </p>
      <img
        src="{{url_for('static', filename='image/gambar 2.png')}}"
        alt="Gambar 2"
        class="block max-w-xs mx-auto"
      />
    </section>
  </section>
</main>
<!-- CONTENT END -->

<!-- FOOTER START -->
<footer class="bg-blue-800 border-gray-200 dark:bg-gray-900 rounded-t-xl">
  <section
    class="flex flex-wrap items-center justify-between max-w-screen-xl p-4 mx-auto"
  ></section>
</footer>
<!-- FOOTER END -->

{% endblock %}
